{% extends "layout.html" %}
{% set active_page = "clients" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block dropdown_messages %}
{{ super() }}
{% endblock %}

{% block dropdown_tasks %}
{{ super() }}
{% endblock %}

{% block dropdown_alerts %}
{{ super() }}
{% endblock %}

{% block content %}
{{ new_client }}
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
            <table width=60%>
              <tr ><td><strong>Name: </strong></td><td><span id="clientName" class="editable_name">{{ client.name }}</span></td><td><i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Date added: </strong></td><td><span id="clientDate" class="editable_date">{{ client.date_added }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Contact Email: </strong></td><td><span id="clientEmail" class="editable_email">{{ client.email }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Contact Phone: </strong></td><td><span id="clientPhone" class="editable_phone">{{client.phone }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
            </table>
            <a class="btn btn-default" href="grrconsole">Console</a>
            <a class="btn btn-default" href="download">Download Executables</a>
            </div>
        </div>
    </div>

{% if new_client %}
<p><h3>Status</h3></p>
<div class="progress active">
  <div class="progress-bar progress-bar-success progress-bar-striped active" id="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
  </div>
</div>




{% else %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Worker to Cluster
             </div>
            <div class="panel-body">
            <form>
            {{ CreateNodeForm.hidden_tag() }}
            {{ CreateNodeForm.locations }}
            {{ CreateNodeForm.digitalOcean(size=50) }}
            {{ CreateNodeForm.aws(size=50) }}
            <input type="submit" value="Create">
            </form>
            </div>
        </div>
    </div>


</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Location</th>
            <th>IP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>    
    {% for node in nodes %}
        <tr>
            <td>{{ node.id }} </td>
            <td>{{ node.type }} </td>
            <td>{{ node.location }} </td>
            <td>{{ node.IP }}</td>
            {% if node.type == "worker" %}
            <td><a class="btn btn-danger" href="node/{{ node.id }}/delete">Delete</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
     {% endfor %}
        
    </tbody>
</table>

{% endif %}

{% endblock %}

{% block scripts %}

<script>
{% if new_client %}
$(document).ready(function(){
  var progresspump = setInterval(function(){
    /* query the completion percentage from the server */
    $.get("/client/{{ client.id }}/status", function(data){
      /* update the progress bar width */
      $("#progress").css('width',data+'%');
      /* and display the numeric value */
      $("#progress").html(data+'%');
      /* test to see if the job has completed */
      if(data > 99.999) {
        clearInterval(progresspump);
        $("#progressouter").removeClass("active");
        $("#progress").html("Done");
        window.location.href = "/client/{{ client.id}}/admin"
      }
    })
  }, 5000);});

{% else %}
$(document).ready(function() {
    $('#digitalOcean').css('display','none');
    $('#aws').css('display','none');
    $('#locations').change(function(){
        if(document.getElementById('locations').value == 'digiocean'){
            $('#digitalOcean').css('display', 'inline');    
             $('#aws').css('display','none');

        }else 
            if(document.getElementById('locations').value == 'aws'){

             $('#aws').css('display','inline');
             $('#digitalOcean').css('display', 'none'); 
        }else {
             $('#digitalOcean').css('display', 'none');
             $('#aws').css('display','none');
            }

    });
});

{% endif %}
</script>

{% endblock %}
