{% extends "layout.html" %}
{% set active_page = "view_h" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block dropdown_messages %}
{{ super() }}
{% endblock %}

{% block dropdown_tasks %}
{{ super() }}
{% endblock %}

{% block dropdown_alerts %}
{{ super() }}
{% endblock %}

{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th>IP</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>    
    {% for entry in entries %}
        <tr>
            <td><a href="https://{{ entry.IP }}:8006">{{ entry.IP }}</a></td>
            <td>{{ entry.location }}</td>
            {% if entry.status == 0 %}
            <td><a class="btn btn-danger" href="/hypervisor/{{ entry.id }}/check" title="click to recheck">Offline</a>
            {% elif entry.status == 1 %}
            <td><a class="btn btn-success" href="/hypervisor/{{ entry.id }}/check" title="click to recheck">Online</a>
            {% elif entry.status == 2 %}
            <td><a class="btn btn-warning" href="/hypervisor/{{ entry.id }}/check" title="click to recheck">Maintenance</a>
            {% else %}
            <td><a class="btn btn-info" href="/hypervisor/{{ entry.id }}/check" title="click to recheck">Error</a>
            {% endif %}
        </tr>
     {% endfor %}
        
    </tbody>
</table>


{% endblock %}


