{% extends "layout.html" %}
{% set active_page = "clients" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block dropdown_messages %}
{{ super() }}
{% endblock %}

{% block dropdown_tasks %}
{{ super() }}
{% endblock %}

{% block dropdown_alerts %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Details
            </div>
            <div class="panel-body">
            <table width=60%>
              <tr ><td><strong>Name: </strong></td><td><span id="clientName" class="editable_name">{{ client.name }}</span></td><td><i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Date added: </strong></td><td><span id="clientDate" class="editable_date">{{ client.date_added }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Contact Email: </strong></td><td><span id="clientEmail" class="editable_email">{{ client.email }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
              <tr><td><strong>Contact Phone: </strong></td><td><span id="clientPhone" class="editable_phone">{{client.phone }}</span></td><td>  <i class="fa fa-edit fa-fw jeditable-activate"></i></td></tr>
            </table>
            </div>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Add Server to Cluster
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>


</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Location</th>
            <th>IP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>    
    {% for node in nodes %}
        <tr>
            <td>{{ node.id }} </td>
            <td>{{ node.type }} </td>
            <td>{{ node.location }} </td>
            <td>{{ node.IP }}</td>
            <td><a class="btn btn-danger" href="client/{{ node.id }}/admin">Delete</a>
        </tr>
     {% endfor %}
        
    </tbody>
</table>



{% endblock %}


